/*Header banner Styles*/

*{
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../picture/Banner\ Image\ -\ Copy.png");
    background-size: cover;
    background-repeat: none;
    height: 600px;
    width: 1320px;
    margin: 50px 140px;
    color: rgb(241, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}
.Happy-new {
    text-align: center;
    font-size: 32px;    
    font-weight: 400;
}
.banner-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.clebration {
    text-align: center;
}

/*main contents*/
.discnt{
    font-size: 88px;
    font-weight: 700;
    color: #F00;
}

.discnt-title {
    color: #F00;
    font-size: 22px;
    font-weight: 480px;
    margin-top: 26px;
}

.discnt-snd-title {
    color: #070211;
    font-size: 41px;
    font-weight: 700;
}

.img-container {
    width: 802.9px;
    height: 500px;
}
.off-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Second banner in main */

.snd-container {
    height: 600px;
    width: 1320px;
    margin: 50px 140px;
    background-image: url("/picture/Vectorrr.png");
    margin-top: 90px;
}
.wlc-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    position: relative;
    top: 126px;
    left: 126px;
}
.wlc-snd-title {
    position: relative;
    top: 126px;
    left: 126px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 18px;
}

.snd-container button {
    border: none;
    margin-left: 38px;
    margin-top: 33px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #070211;
    color: white;
    font-size: 18px;
}

.snd-container img {
    height: 450px;
    position: relative;
    top: -170px;
    left: 880px;
}

/*third main container */
.third-container {
    width: 1320px;
    height: 600px;
    background-color: papayawhip;
    margin: 50px 140px;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
}

.title-box span {
    color: #F00;
}

.title-box button {
    background-color: #F00;;
    margin-top: 40px;
    text-transform: uppercase;
    border: none;
    color: white;
    border-radius: 5px;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

/* forth container box */

.forth-container {
    width: 1320px;
    height: 400px;
    background-color: rgb(241, 238, 232);
    margin: 50px 140px;
    border-radius:10px;
    display: flex;
    justify-content: space-evenly;
}

.circle-box {
    height: 360px;
    width: 360px;
    border: 15px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-box img {
    height: 300px;
}

.new-best{
    color: #F00;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
}
.cmg-sn {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box3 {
    text-align: center;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.box2 {
    margin-top: 5px;
}
.year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.box3 img {
    margin-top: 25px;
    height: 150px;
    width: 150px;
}
.container-5 {
    width: 1320px;
}
/*container 5 */
.span{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 10px;
}
.container-5 span {
    color: #F00;
}
.container-5{
    width: 1320px;
    text-align: center;
    margin: 50px 140px;

}
.container-five-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img1 {
    display: flex;
    justify-content: space-evenly;
}
.img1 img{
    height: 433px;
}
.rectangle1{
    width: 429px;
    height: 433px;
    margin-left: 140px;
}
.cirle-img{
   height: 230px;
   width: 230px;
   /* border: 10px solid rebeccapurple; */
   border-radius: 50%;
   background-image: url("/picture/Group\ 44\ -\ Copy.png");
   background-repeat: none;
   background-size: 220px 220px;
   /* height: 150px; */
   position: relative;
   top: 170px;
   left: 270px;
}
.img-box1 {
    margin-top: 50px;
}
.x-img {
    position: relative;
    top: 201px;
}
/* container 6 */
.contianer-6{
    width: 1320px;
    margin: 50px 140px;
    height: 1090px;
}
.title-container-6{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.title1-container-6{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.box-img1{
    width: 424px;
    height: 450px;
    border-radius: 10px;
}
.img-container-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.img-box-item1{
    display: flex;
    gap: 10px;
}
/* container 7 */
.container-7 {
    width: 1320px;
    height: 500px;
    background-color: antiquewhite;
    margin: 50px 126px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email-box-btn{
    width: 436px;
    height: 53px;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 40px;
}
input[type="email"]{
    height: 49px;
    width: 280px;
    outline: none;
    border: none;
    margin-left: 22px;
}
input[type="submit"]{
    height: 52px;
    width: 130px;
    border: none;
    background-color: #F00;
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.subscribe-txt{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 10px;
}
/*footer section */
footer {
    width: 1600px;
    height: 500px;
    background-color:#070211;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.fot-container1{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}
.fot-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fot-container3 {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}
.text-box1 i, .text-box2 i{
    margin-right: 6px;
}
.text-box1, .text-box1 i, .tex-box1 p{
    margin-bottom: 8px;
}
.footer-img img {
    margin-right: 8px;
}
